@import "../../scss/variables";

.input-field {
  &:focus,
  &:hover,
  &:active {
    box-shadow: unset !important;
    border-color: $scecondaryColor !important;
    border: 1px solid $scecondaryColor;
  }
}
