.landing__wrapper {
  background: linear-gradient(111.34deg, #fff9f9 0.56%, #f5faff 61.46%);
  min-height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;
  .pattern {
    background-image: url("../../assets/imgs/pattern.png");
  }
}
