.modal-dialog {
  position: absolute !important;
  right: 0 !important;
  margin: unset !important;
  width: 50% !important;
  bottom: 0;
  top: 0;
  background: white;
}
.modal-content {
  border: unset !important;
}
