.modal-dialog {
  position: absolute !important;
  right: 0 !important;
  margin: unset !important;
  @media (min-width: 800px) {
    width: 40% !important;
  }
  @media (max-width: 800px) {
    width: 100% !important;
  }

  bottom: 0;
  top: 0;
  background: white;
}
.modal-content {
  border: unset !important;
}
