@import "./variables";

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.primary-btn {
  background-color: $scecondaryColor;
  border-radius: 3.125rem;
  padding: 0.75rem 2.5rem;
  border: unset;
  color: white;
}
.cursor-pointer {
  cursor: pointer;
}
.error {
  color: red;
}
