@import "./variables";

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Sulphur Point", sans-serif;
}

p {
  color: $primarycolor;
  font-size: 1rem;
}

small {
  color: $gray;
  font-size: 0.688rem;
}

.primary-btn {
  background-color: $scecondaryColor;
  border-radius: 3.125rem;
  padding: 0.75rem 2.5rem;
  border: unset;
  color: white;
}
